---
import ChoiceButton from '../components/ChoiceButton.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Frontend Mentor | Rock paper scissors lizard spock">
  <div data-multi-step>
    <div data-step class="bg-image h-[20rem] w-full relative">
      <ChoiceButton
        color="yellow"
        icon="scissors"
        class="absolute top-[3.5rem] left-[7.8rem]"
      />
      <ChoiceButton
        color="blue"
        icon="paper"
        class="absolute top-[8.3rem] left-[13.75rem]"
      />
      <ChoiceButton
        color="red"
        icon="rock"
        class="absolute top-[15.2rem] left-[11.35rem]"
      />
      <ChoiceButton
        color="purple"
        icon="lizard"
        class="absolute top-[15.2rem] left-[4.15rem]"
      />
      <ChoiceButton
        color="cyan"
        icon="spock"
        class="absolute top-[8.3rem] left-[1.75rem]"
      />
    </div>
  </div>
</Layout>

<style>
  .bg-image {
    background-image: url(/images/bg-pentagon.svg);
    background-repeat: no-repeat;
    background-position: center bottom 40px;
    background-size: 13rem;
  }
</style>
