---
import ChoiceButton from '../components/ChoiceButton.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Frontend Mentor | Rock paper scissors lizard spock">
  <div data-multi-step>
    <div data-step class="bg-image h-[27.3rem] w-full relative">
      <!-- iconPosition="46% 50%" iconSize="" mobile -->
      <ChoiceButton
        color="yellow"
        icon="scissors"
        class="absolute h-[5.35rem] w-[5.35rem] top-[3.5rem] left-[7.8rem] lg:left-[33.9rem] lg:top-[0.8rem] lg:h-[8.2rem] lg:w-[8.2rem]"
        iconPosition="48% 51%"
        iconSize="50px"
      />
      <!-- iconPosition="49% 50%" iconSize="32px" mobile -->
      <ChoiceButton
        color="blue"
        icon="paper"
        class="absolute h-[5.35rem] w-[5.35rem] top-[8.3rem] left-[13.75rem] lg:left-[42.9rem] lg:top-[8rem] lg:h-[8.2rem] lg:w-[8.2rem]"
        iconPosition="49% 51%"
        iconSize="48px"
      />
      <!-- iconPosition="50% 51%" iconSize="" mobile -->
      <ChoiceButton
        color="red"
        icon="rock"
        class="absolute h-[5.35rem] w-[5.35rem] top-[15.2rem] left-[11.35rem] lg:left-[39.3rem] lg:top-[18.4rem] lg:h-[8.2rem] lg:w-[8.2rem]"
        iconPosition="50% 51%"
        iconSize="47px"
      />
      <!-- iconPosition="" iconSize="41px" mobile -->
      <ChoiceButton
        color="purple"
        icon="lizard"
        class="absolute h-[5.35rem] w-[5.35rem] top-[15.2rem] left-[4.15rem] lg:left-[28.4rem] lg:top-[18.4rem] lg:h-[8.2rem] lg:w-[8.2rem]"
        iconSize="64px"
      />
      <!-- iconPosition="52% 50%" iconSize="30px" mobile -->
      <ChoiceButton
        color="cyan"
        icon="spock"
        class="absolute h-[5.35rem] w-[5.35rem] top-[8.3rem] left-[1.75rem] lg:left-[24.8rem] lg:top-[8rem] lg:h-[8.2rem] lg:w-[8.2rem]"
        iconSize="44px"
        iconPosition="52% 49%"
      />
    </div>
    <!-- <div
      data-step
      class="h-[27.3rem] flex justify-around w-full relative pt-[3.68rem]"
    >
      <div class="flex flex-col items-center justify-between h-[9.83rem]">
        <ChoiceButton
          color="yellow"
          icon="scissors"
          class="h-[7.44rem] w-[7.44rem]"
          iconPosition="46% 50%"
          iconSize="35%"
        />
        <p class="uppercase text-white text-sm tracking-[0.08rem]">You picked</p>
      </div>
      <div class="flex flex-col items-center justify-between h-[9.83rem]">
        <span
          class="mt-[0.6rem] h-[6.1rem] w-[6.1rem] rounded-full bg-black bg-opacity-10"
        ></span>
        <p class="uppercase text-white text-sm tracking-[0.08rem]">The house picked</p>
      </div>
    </div> -->
    <!-- <div
      data-step
      class="h-[27.3rem] flex justify-around w-full relative pt-[3.68rem]"
    >
      <div class="flex flex-col items-center justify-between h-[9.83rem]">
        <ChoiceButton
          color="yellow"
          icon="scissors"
          class="h-[7.44rem] w-[7.44rem]"
          iconPosition="46% 50%"
          iconSize="35%"
        />
        <p class="uppercase text-white text-sm tracking-[0.08rem]">You picked</p>
      </div>
      <div class="flex flex-col items-center justify-between h-[9.83rem]">
        <ChoiceButton
          color="cyan"
          icon="spock"
          class="h-[7.44rem] w-[7.44rem]"
          iconSize="30%"
          iconPosition="52% 50%"
        />
        <p class="uppercase text-white text-sm tracking-[0.08rem]">The house picked</p>
      </div>
    </div> -->
    <!-- <div
      data-step
      class="h-[16.85rem] flex justify-around w-full relative pt-[3.68rem]"
    >
      <div class="flex flex-col items-center justify-between h-[9.83rem]">
        <ChoiceButton
          color="purple"
          icon="lizard"
          class="h-[7.44rem] w-[7.44rem]"
          iconSize="43%"
        />
        <p class="uppercase text-white text-sm tracking-[0.08rem]">
          You picked
        </p>
      </div>
      <div class="flex flex-col items-center justify-between h-[9.83rem]">
        <ChoiceButton
          color="cyan"
          icon="spock"
          class="h-[7.44rem] w-[7.44rem]"
          iconSize="30%"
          iconPosition="52% 50%"
        />
        <p class="uppercase text-white text-sm tracking-[0.08rem]">
          The house picked
        </p>
      </div>
    </div>
    <div class="h-[10.55rem] flex flex-col items-center">
      <h2
        class="uppercase text-white text-[3.1rem] font-bold tracking-[0.03rem]"
      >
        You Win
      </h2>
      <button
        class="uppercase bg-white text-dark-text mt-[0.35rem] h-[2.65rem] rounded-lg w-[12.1rem] tracking-[0.08rem]"
        >Play again</button
      >
    </div> -->
  </div>
</Layout>

<style>
  .bg-image {
    background-image: url(/images/bg-pentagon.svg);
    background-repeat: no-repeat;
    background-position: center bottom 9.7rem;
    background-size: 12rem 11.5rem;
  }

  @media screen and (min-width: 1000px) {
    .bg-image {
      background-position: center bottom 4.7rem;
      background-size: 19rem 18rem;
    }
  }
</style>
