---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Frontend Mentor | Rock paper scissors lizard spock">
  <main>TESTING</main>
</Layout>

<style>
  main {
    height: 100%;
    display: grid;
  }
</style>
