---
import ScoreHeader from '../components/ScoreHeader.astro';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap"
      rel="stylesheet"
    />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <ScoreHeader class="m-7" />
    <slot />
    <a>Rules</a>
  </body>
</html>
<style is:global>
  /* css reset from https://www.joshwcomeau.com/css/custom-css-reset/ */

  /*
  1. Use a more-intuitive box-sizing model.
*/
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  /*
  2. Remove default margin
*/
  * {
    margin: 0;
  }
  /*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
  5. Improve media defaults
*/
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  /*
  6. Remove built-in form typography styles
*/
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  /*
  7. Avoid text overflows
*/
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  /*
  8. Create a root stacking context
*/
  #root,
  #__next {
    isolation: isolate;
  }

  :root {
    --scissors-gradient: linear-gradient(
      hsl(39, 89%, 49%) to hsl(40, 84%, 53%)
    );
    --paper-gradient: linear-gradient(hsl(230, 89%, 62%) to hsl(230, 89%, 65%));
    --rock-gradient: linear-gradient(hsl(349, 71%, 52%) to hsl(349, 70%, 56%));
    --lizard-gradient: linear-gradient(
      hsl(261, 73%, 60%) to hsl(261, 72%, 63%)
    );
    --cyan: linear-gradient(hsl(189, 59%, 53%) to hsl(189, 58%, 57%));

    --dark-text: hsl(229, 25%, 31%);
    --score-text: hsl(229, 64%, 46%);
    --header-outline: hsl(217, 16%, 45%);

    --radial-gradient: radial-gradient(
      circle at top,
      hsl(214, 47%, 23%),
      hsl(237, 49%, 15%)
    );

    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 18px;
  }

  body {
    position: relative;
    height: 100vh;
    background: var(--radial-gradient);
  }
</style>
